<div>
  <div class="mat-elevation-z8  table-responsive w-full">
    <div id="audit-trail">
      <table id="excel_table" matSort mat-table #table [dataSource]="dataSource"
        style="margin-left: auto; margin-right: auto;"
        class="mat-elevation-z8 component--mat-table__custom-table checklist-table table-bordered table-sm ">
        <ng-container matColumnDef="getster_id" style="text-align: center;">
          <th mat-header-cell *matHeaderCellDef style="width: 58px; max-width: 150px; word-wrap: break-word">GETster
            Name</th>
          <td mat-cell *matCellDef="let element">
            <div style="margin-top: 4px; display: flex;justify-items: center;">
              <div style="display:flex; margin-top: auto;margin-bottom: auto; margin-right: 2px;">
                <img src="https://res.cloudinary.com/demo/image/facebook/65646572251.jpg"
                  style="height:28px;width: 28px;">
              </div>
              <div style="display: flex; flex-direction: column;justify-content:start;">
                <div style="color: #3366ff;font-weight: 550; word-wrap: break-word; ">
                  {{ element.first_name }} {{ element.last_name }}
                </div>
                <div style=" word-wrap: break-word;">
                  {{ element.getster_category }}
                </div>
              </div>
            </div>
          </td>
        </ng-container>
        <!-- style="white-space: nowrap" -->
        <ng-container matColumnDef="entry_type">
          <th mat-header-cell *matHeaderCellDef>Entry Type</th>
          <td mat-cell *matCellDef="let element" style="width: 47px; max-width: 150px; word-wrap: break-word">
            {{ element.entry_type }}
          </td>
        </ng-container>

        <ng-container matColumnDef="entry_date_time">
          <th mat-header-cell *matHeaderCellDef style="width:70px; max-width:70px; word-wrap: break-word">
            Entry Date & Time
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            {{ element.entry_local_date_time|date:'dd MMM y h:mm a' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="entry_by_user_name">
          <th mat-header-cell *matHeaderCellDef style="width: 58px; max-width: 150px; word-wrap: break-word">
            Entry By User Name
          </th>
          <td mat-cell *matCellDef="let element" style="padding-left: 2px">

            <div style="margin-top: 4px;display: flex;justify-items: center;">
              <div style="display:flex;margin-top: auto;
    margin-bottom: auto; margin-right: 2px;">
                <img src="https://res.cloudinary.com/demo/image/facebook/65646572251.jpg"
                  style="height:28px;width: 28px;">
              </div>
              <div style="display: flex; flex-direction: column;justify-content:start;">
                <div style="color: #3366ff;font-weight: 550; word-wrap: break-word; ">
                  {{ element.login_user_first_name }} {{element.login_user_second_name}}
                </div>
                <div style=" word-wrap: break-word;">
                  {{ element.login_getster_category_name }}
                </div>
              </div>
            </div>

          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" style="text-align: center"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row); onRowClicked(row)"
          (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter
            <!-- "{{ input.value }}" -->
          </td>
        </tr>
      </table>
    </div>
    <div>
      <mat-paginator class="component--mat-pagination__size" #paginator #paginatorElement
        [length]="dataSource.data.length" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" [pageSize]="5"
        [allValue]="dataSource.data.length" appAddAllToPaginator>
      </mat-paginator>
      <div class="flex bg-white-black" id="export_btn">
        <div class="custom-mat-floating-label">
          <mat-form-field appearance="outline" class="component--mat-form-field__custom-input pl-2">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input />
          </mat-form-field>
        </div>
        <div class="w-full flex justify-end">
          <span class="p-5 export-btn" [matMenuTriggerFor]="menu">Export</span>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="downloadAsPDF()">
    <mat-icon>picture_as_pdf</mat-icon>
    <span>Print / Export PDF</span>
  </button>
  <button mat-menu-item (click)="exportReport('sample.xlsx')">
    <mat-icon>grid_on</mat-icon>
    <span>Export SpreadSheet</span>
  </button>
  <button mat-menu-item (click)="exportReport('sample.csv')">
    <mat-icon>grid_on</mat-icon>
    <span>Export csv File</span>
  </button>
  <button mat-menu-item (click)="exportReport('sample.json')">
    <mat-icon>grid_on</mat-icon>
    <span>Export json</span>
  </button>
</mat-menu>