<div class="">
  <mat-toolbar class="component--dialog-box__custom-toolbar">
    <span class="text-sm font-[550]">Audit Trail Table</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="flex items-center justify-center">
      <mat-icon (click)="onNoClick()">close</mat-icon>
    </button>
  </mat-toolbar>

  <div class="p-1  flex flex-col justify-items-center">
    <app-audit-trail-table></app-audit-trail-table>
  </div>
  <!-- <section class="px-[4px] py-0 flex flex-col justify-items-center " mat-dialog-content>

  </section> -->
</div>
